{"openapi":"3.0.2","info":{"title":"Immagnify Public APIs","description":"All available public APIs","version":"v1"},"servers":[{"url":"https://api.immagnify.com"}],"paths":{"/v1/enrich/people":{"post":{"tags":["Enrichment API"],"summary":"Person Enrichment","description":"Required: \n    <br>\n    1. first_name, last_name <b>OR</b> full_name \n    <br>\n    2. At least one of company_name <b>OR</b> domain <b>OR</b> email <b>OR</b> linkedin url","operationId":"person_enrichment_v1_enrich_people_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonEnrichmentRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonEnrichmentResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}}},"security":[{"X-API-Key":[]}]}},"/v1/enrich/companies":{"post":{"tags":["Enrichment API"],"summary":"Company Enrichment","description":"Required: \n    <br>\n    2. At least one of company_name <b>OR</b> domain <b>OR</b> linkedin url\n    <br>\n    Note the more data points provided, immagnify engine will produce the most accurate data.","operationId":"company_enrichment_v1_enrich_companies_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyEnrichmentRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyEnrichmentResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}}},"security":[{"X-API-Key":[]}]}}},"components":{"schemas":{"Company":{"title":"Company","required":["id","name","website_url","industry","size","location","social_links","phones"],"type":"object","properties":{"id":{"title":"Id","maxLength":32,"minLength":32,"pattern":"[A-Za-z0-9+/]","type":"string","example":"eMdGPm3tYwEswCVjcLA7gn74FthAGuL3JlOXnpFhHzc"},"name":{"title":"Name","type":"string"},"website_url":{"title":"Website Url","maxLength":2083,"minLength":1,"type":"string","format":"uri"},"industry":{"title":"Industry","type":"string"},"size":{"$ref":"#/components/schemas/CompanySize"},"location":{"$ref":"#/components/schemas/Location"},"social_links":{"$ref":"#/components/schemas/SocialLinks"},"phones":{"title":"Phones","type":"array","items":{"$ref":"#/components/schemas/Phone"}}}},"CompanyEnrichmentRequest":{"title":"CompanyEnrichmentRequest","type":"object","properties":{"name":{"title":"Name","type":"string","description":"Optional if domain or linkedin_url provided","example":"immagnify"},"domain":{"title":"Domain","type":"string","description":"Optional if name or linkedin_url provided","example":"immagnify.com"},"linkedin_url":{"title":"Linkedin Url","type":"string","description":"Optional if name or domain provided","example":"https://www.linkedin.com/company/immagnify"}}},"CompanyEnrichmentResponse":{"title":"CompanyEnrichmentResponse","required":["request_id","company"],"type":"object","properties":{"request_id":{"title":"Request Id","maxLength":32,"minLength":32,"pattern":"[A-Za-z0-9+/]","type":"string","example":"eMdGPm3tYwEswCVjcLA7gn74FthAGuL3JlOXnpFhHzc"},"company":{"title":"Company","allOf":[{"$ref":"#/components/schemas/Company"}],"example":{"id":"NWZiNWE1YTEyODczYzlkMmRhYTI5ZTg3","name":"Immagnify","website_url":"https://www.immagnify.com","industry":"Computer Software","size":"11-50","location":{"name":"Kfar Saba, Israel","country":"Israel","region":"","locality":"Kfar Saba"},"social_links":{"linkedin_url":"https://www.linkedin.com/company/immagnify"},"phones":[]}}}},"CompanySize":{"title":"CompanySize","enum":["1-10","11-50","51-200","201-500","501-1000","1001-5000","5001-10000","10001+"],"type":"string","description":"An enumeration."},"ContactInfo":{"title":"ContactInfo","required":["revealed","personal_emails","professional_emails","mobile_phones"],"type":"object","properties":{"revealed":{"title":"Revealed","type":"boolean"},"personal_emails":{"title":"Personal Emails","type":"array","items":{"$ref":"#/components/schemas/Email"}},"professional_emails":{"title":"Professional Emails","type":"array","items":{"$ref":"#/components/schemas/Email"}},"mobile_phones":{"title":"Mobile Phones","type":"array","items":{"$ref":"#/components/schemas/Phone"}}}},"Departments":{"title":"Departments","enum":["Board","General Management","Research and Development","Information Technology","Customer Support","Support","Procurement","Marketing","Product","Sales","Business Development","Financial","Legal","Risk","Data","Project","Operations","Logistics","Human Resources","Strategy","Quality"],"type":"string","description":"An enumeration."},"Email":{"title":"Email","required":["email","score","type","order"],"type":"object","properties":{"email":{"title":"Email","type":"string","format":"email"},"score":{"title":"Score","type":"integer"},"type":{"$ref":"#/components/schemas/EmailType"},"order":{"title":"Order","type":"integer"}}},"EmailType":{"title":"EmailType","enum":["Verified","Qulified"],"type":"string","description":"An enumeration."},"Location":{"title":"Location","required":["name","country"],"type":"object","properties":{"name":{"title":"Name","type":"string"},"country":{"title":"Country","type":"string"},"region":{"title":"Region","type":"string"},"locality":{"title":"Locality","type":"string"}}},"Person":{"title":"Person","required":["id","first_name","last_name","full_name","position","social_links","company","contact_info"],"type":"object","properties":{"id":{"title":"Id","maxLength":32,"minLength":32,"pattern":"[A-Za-z0-9+/]","type":"string","example":"eMdGPm3tYwEswCVjcLA7gn74FthAGuL3JlOXnpFhHzc"},"first_name":{"title":"First Name","type":"string"},"last_name":{"title":"Last Name","type":"string"},"full_name":{"title":"Full Name","type":"string"},"position":{"$ref":"#/components/schemas/Position"},"social_links":{"$ref":"#/components/schemas/SocialLinks"},"company":{"$ref":"#/components/schemas/Company"},"contact_info":{"$ref":"#/components/schemas/ContactInfo"}}},"PersonEnrichmentRequest":{"title":"PersonEnrichmentRequest","type":"object","properties":{"full_name":{"title":"Full Name","type":"string","example":"Uri Steinfeld"},"first_name":{"title":"First Name","type":"string","example":"Uri"},"last_name":{"title":"Last Name","type":"string","example":"Steinfeld"},"email":{"title":"Email","type":"string","example":"uri@immagnify.com"},"company_name":{"title":"Company Name","type":"string","example":"immagnify"},"domain":{"title":"Domain","type":"string","example":"immagnify.com"},"linkedin_url":{"title":"Linkedin Url","type":"string","example":"https://www.linkedin.com/in/uri-steinfeld"}}},"PersonEnrichmentResponse":{"title":"PersonEnrichmentResponse","required":["request_id","request_status","person"],"type":"object","properties":{"request_id":{"title":"Request Id","maxLength":32,"minLength":32,"pattern":"[A-Za-z0-9+/]","type":"string","example":"eMdGPm3tYwEswCVjcLA7gn74FthAGuL3JlOXnpFhHzc"},"request_status":{"$ref":"#/components/schemas/PersonRequestStatus"},"person":{"title":"Person","allOf":[{"$ref":"#/components/schemas/Person"}],"example":{"id":"NjBiYWU2OGQ3NzNkY2UyYzkwMThkZjZh","first_name":"Dror","last_name":"Ventura","full_name":"Dror Ventura","avatar":"https://d21x914lkrakas.cloudfront.net/60bae68d773dce2c9018df6a","location":{"name":"Israel","country":"Israel"},"position":{"title":"CTO, Co-Founder","department":"Research and Development","seniority":"C Level","years_at_position":2,"months_at_position":4,"location":""},"social_links":{"linkedin_url":"https://www.linkedin.com/in/drorventura","twitter_url":"https://twitter.com/drorventura"},"company":{"id":"NWZiNWE1YTEyODczYzlkMmRhYTI5ZTg3","name":"Immagnify","website_url":"https://www.immagnify.com","industry":"Computer Software","size":"11-50","location":{"name":"Kfar Saba, Israel","country":"Israel","region":"","locality":"Kfar Saba"},"social_links":{"linkedin_url":"https://www.linkedin.com/company/immagnify"},"phones":[]},"contact_info":{"revealed":"true","professional_emails":[{"email":"dror@immagnify.com","score":95,"type":"Verified","order":1}]}}}}},"PersonRequestStatus":{"title":"PersonRequestStatus","enum":["up_to_date","stale","request_refresh"],"type":"string","description":"An enumeration."},"Phone":{"title":"Phone","required":["number"],"type":"object","properties":{"number":{"title":"Number","type":"string"}}},"Position":{"title":"Position","required":["title","department","seniority"],"type":"object","properties":{"title":{"title":"Title","type":"string"},"department":{"$ref":"#/components/schemas/Departments"},"seniority":{"$ref":"#/components/schemas/Seniority"}}},"Seniority":{"title":"Seniority","enum":["Board","Founding Team","C Level","VP Level","Higher Management","Middle Management","Low Management","Entry"],"type":"string","description":"An enumeration."},"SocialLinks":{"title":"SocialLinks","type":"object","properties":{"linkedin_url":{"title":"Linkedin Url","maxLength":2083,"minLength":1,"type":"string","format":"uri"},"twitter_url":{"title":"Twitter Url","maxLength":2083,"minLength":1,"type":"string","format":"uri"},"facebook_url":{"title":"Facebook Url","maxLength":2083,"minLength":1,"type":"string","format":"uri"},"instagram":{"title":"Instagram","maxLength":2083,"minLength":1,"type":"string","format":"uri"},"github_url":{"title":"Github Url","maxLength":2083,"minLength":1,"type":"string","format":"uri"},"crunchbase":{"title":"Crunchbase","maxLength":2083,"minLength":1,"type":"string","format":"uri"}}},"ValidationError":{"title":"ValidationError","type":"object","properties":{"description":{"title":"Description","type":"string","default":"Validation Error"}}}},"securitySchemes":{"X-API-Key":{"type":"apiKey","description":"Example: UctP-mzV6thFflnOI20lA1MF8I1dJGgPgfKp","in":"header","name":"x-api-key"}}}}